.container{
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  align-items: center;
  justify-content: center;
  display: flex;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card{
  width: 600px;
  height: 600px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
input{
  width: 90%;
  height: 45px;
  font-size: 25px;
}
button{
  width: 10%;
  height: 45px;
  border: none;
  cursor: pointer;
}
.down{
  width: 80%;
  background-color: red;
  height: 30px;
}
.delete{
  background-color: green;
  width: 40px;
  height: 40px;
}